*{
    margin: 0%;
    padding: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.container-box{
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -10;
}
.slider-box{
 width: fit-content;
 /* height: 100%; */
 display: flex;
 /* transition:transform 4s ease; */
 animation: slider 25s ease-in-out infinite;
}

@keyframes slider {
    0%{
        transform:translateX(-0%);
    }
    25%{
        transform:translateX(-25%);
    }
    50%{
       transform:translateX(-50%);
    }
    75%{
       transform:translateX(-75%);
    }
    100%{
        transform: translateX(-0%);
    }
    
    
}
.nav-cont{
    width: 80vw;
    height: 80px;
    background:transparent;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 15px;
    border: 2px solid white;
    /* border-radius: 12px; */
}

.nav-ul{
    list-style: none;
    display: inline-flex;
}
.nav-ul li{
    
    margin-right: 20px;
    color: white;
    font-weight: 700;
    
}
.logo{
    margin-left: 30px;
    color: white;
}
.nav-ul li a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    padding: 10px;
    border-radius:5px;
  
}
.nav-ul li a:hover{
    
    background: white;
    color: black;

}
.cntnt{
    margin: auto;
    width: fit-content;
    position: relative;
    /* align-items: center; */
    display: block;
    justify-content: center;
    top: 100px;
}